{% extends "layout.html" %}

{% block title %}Tutoring{% endblock %}

{% block head %}
  <style>
    /*NOTE- These are the STEAM colors that we are using:
      (Green)- Science: #8ac926
      (Blue)- Technology: #1982c4
      (Purple)- Engineering: #6a4c93
      (Orange)- Art: #ffca3a
      (Red)- Math: #ff595e
    */
    body {
        width: 100%;
    }
    #tutoring-page{
      display: flex;
      padding-top: 10px;
    }
    .courses-categories{
      width: 290px;
      height: 900px;
      border: 5px solid black;
    }
    .header {
      text-align: center;
      color: black;
    }
    hr{
      background-color: black;
    }
    #science-button{
      background-color: #63a11b;
      border-radius: 5px;
      color: white;
      width: 275px;
      height: 60px;
      padding-left: 5px;
      font-size: large;
    }

    #technology-button{
      background-color: #1982c4;
      border-radius: 5px;
      color: white;
      width: 275px;
      height: 60px;
      padding-left: 5px;
      font-size: large;
      margin-top: 100px; 
    }

    #engineering-button{
      background-color: #6a4c93;
      border-radius: 5px;
      color: white;
      width: 275px;
      height: 60px;
      padding-left: 5px;
      font-size: large;
      margin-top: 100px; 
    }

    #arts-button{
      background-color: #DCA000;
      border-radius: 5px;
      color: white;
      width: 275px;
      height: 60px;
      padding-left: 5px;
      font-size: large;
      margin-top: 100px; 
    }
    
    #mathmatics-button{
      background-color: #E22739;
      border-radius: 5px;
      color: white;
      width: 275px;
      height: 60px;
      padding-left: 5px;
      font-size: large;
      margin-top: 100px; 
    }
/*
Tutoring Information Box
*/
    #tutoring_info {
      position: absolute;
      top: 85px;
      left: 300px;
      width: 900px;
      height: 900px;
      background-color: lightgray;
      padding: 20px;
      display: none;
    }

   
    

</style>
{% endblock %}

{% block body %}

{% include "components/nav.html" %}

<section id="tutoring-page">
  <br>
  <div class="courses-categories">
  <h3 class="header"> Courses </h3>
  <hr>
  <br>
  <button type="button" id="science-button">Science</button>
  <button type="button" id="technology-button">Technology</button>
  <button type="button" id="engineering-button">Engineering</button>
  <button type="button" id="arts-button">Arts</button>
  <button type="button" id="mathmatics-button">Mathematics</button>
  <div id="tutoring_info"></div>
  </div>
</section>

{% include "components/footer.html" %}
<script>
 const science_button = document.getElementById("science-button");
 const technology_button = document.getElementById("technology-button");
 const engineering_button = document.getElementById("engineering-button");
 const arts_button = document.getElementById("arts-button");
 const mathmatics_button = document.getElementById("mathmatics-button");
 const tutoring_info = document.getElementById("tutoring_info");

 /* For each subject, the information for each course has to be entered, ex: Computer Science III
   Should be placed under const technology_info
  CSIII_courseName: "Computer Science III"
  CSIII_teacherName: ""
  CSIII_roomLocation: ""
  CSIII_avaliableDutyAndTimes: ""

*/
 const science_info = {
  title: "Science",
  physics_courseName: "AP Physics",
  physics_teacherName: "Eairheart",
  physics_roomLocation: "Room B121",
  physics_availableDaysAndTimes: "Tuesday, Thursday; 7:45-8:10 AM",

  physics_1courseName: "AP Physics",
  physics_1teacherName: "Eairheart",
  physics_1roomLocation: "Room B121",
  physics_1availableDaysAndTimes: "Monday, Thursday; 3:35-4:10 PM",

  physics_2courseName: "AP Physics",
  physics_2teacherName: "Sawyers",
  physics_2roomLocation: "Room B118",
  physics_2availableDaysAndTimes: "Wednesday; 3:35-4:10 PM",

  astronomy_courseName: "Astronomy",
  astronomy_teacherName: "Bailey",
  astronmy_roomLocation: "Room B127",
  astronomy_availableDaysAndTimes: "Tuesday, Thursday; 7:45-8:10 AM",

  astronomy_1courseName: "Astronomy",
  astronomy_1teacherName: "Bailey",
  astronmy_1roomLocation: "Room B127",
  astronomy_1availableDaysAndTimes: "Monday, Wednesday; 3:40-4:10 PM",

  aquatic_courseName: "Aquatic Science",
  aquatic_teacherName: "Lair",
  aquatic_roomLocation: "Room B134",
  aquatic_availableDaysAndTimes: "Tuesday, Friday; 7:45-8:10 AM",

  aquatic_1courseName: "Aquatic Science",
  aquatic_1teacherName: "Lair",
  aquatic_1roomLocation: "Room B134",
  aquatic_1availableDaysAndTimes: "Tuesday, Thursday; 3:40-4:10 PM",

  apes_courseName: "AP Environmental Science",
  apes_teacherName: "Storts",
  apes_roomLocation: "Room B105",
  apes_availableDaysAndTimes: "Monday; 7:45-8:10 AM",

  apes_1courseName: "AP Environmental Science",
  apes_1teacherName: "Marlow",
  apes_1roomLocation: "Room B112",
  apes_1availableDaysAndTimes: "Thursday; 7:45-8:10 AM",

  apes_1courseName: "AP Environmental Science",
  apes_1teacherName: "Byars",
  apes_1roomLocation: "Room B114",
  apes_1availableDaysAndTimes: "Wednesday; 3:45-4:10 PM"
  
 };
 const technology_info = {
  title: "Technology",
  robotics_courseName: "Robotics",
  robotics_teacherName: "Gadd",
  robotics_roomLocation: "Room B142",
  robotics_availableDaysAndTimes: "Monday, Wednesday, Friday; 8:15-8:45 AM:",

  robotics_1courseName: "Robotics",
  robotics_1teacherName: "Gadd",
  robotics_1roomLocation: "Room B142",
  robotics_1availableDaysAndTimes: "Tuesday, Thursday; 4:10-4:40 PM",

  CSandDS_courseName: "Computer Science and Discrete Math",
  CSandDS_teacherName: "Ben-Yaakov",
  CSandDS_roomLocation: "Room 202",
  CSandDS_availableDaysAndTimes: "Monday-Friday; 7:30-8:10 AM",

  CSandDS_1courseName: "Computer Science and Discrete Math",
  CSandDS_1teacherName: "Ben-Yaakov",
  CSandDS_1roomLocation: "Zoom Mentoring",
  CSandDS_1availableDaysAndTimes: "Tuesday; 7:00-7:40 AM",

  
 };
 const engineering_info = {
  title: "Engineering",
  enigneering_courseName: "Engineering:",
  engineering_teacherName: "Mayberry:",
  engineering_roomLocation: "Room SB125",
  engineering_availableDaysAndTimes: "Monday, Thursday; 7:45-8:10 AM:",

  enigneering1_courseName: "Engineering:",
  engineering1_teacherName: "Mayberry:",
  engineering1_roomLocation: "Room SB125",
  engineering1_availableDaysAndTimes: "Tuesday, Wednesday; 3:30-4:15 PM",
  
 };
 const arts_info = {
  title: "Art",
  courseName: "Interior Design",
  teacherName: "Edwards",
  roomLocation: "Room 102",
  availableDaysAndTimes: "Monday; 8:15-8:45 AM & 3:40-4:10 PM"
 };
 const mathmatics_info = {
  title: "Math",
  statistics_courseName: "AP & OL Statistics:",
  statistics_teacherName: "Mr. Genneken:",
  statistics_roomLocation: "Room #: B208",
  statistics_availableDaysAndTimes: "Monday-Thursday; 7:45-8:10 AM",

  statistics1_courseName: "AP & OL Statistics:",
  statistics1_teacherName: "Ms. Saleem, Ms. Nichols, Ms. Nix:",
  statistics1_roomLocation: "Room B209, B213, B215:",
  statistics1_availableDaysAndTimes: "Monday-Thursday; 3:35-4:00 PM"
 };



//Each subject has its own function to render the information on the box. Please refer to the given structure to add more courses.

 function displayScienceTutoringInfo(tutoringInfo) {
  tutoring_info.innerHTML = `
  <h1>${tutoringInfo.title} </h3>
    <br>
    <ul>
      <li> <h2> ${tutoringInfo.courseName} </h2> </li>
      <ul>
        <li> ${tutoringInfo.teacherName} </li>
        <li> ${tutoringInfo.roomLocation} </li>
        <li> ${tutoringInfo.availableDaysAndTimes} </li>
        </ul>

      </ul>
    
    `;

    tutoring_info.style.display="block";
 
  }

  function displayTechnologyTutoringInfo(tutoringInfo) {
  tutoring_info.innerHTML = `
  <h1>${tutoringInfo.title} </h3>
    <br>
    <ul>
      <li> <h2> ${tutoringInfo.courseName} </h2> </li>
      <ul>
        <li> ${tutoringInfo.teacherName} </li>
        <li> ${tutoringInfo.roomLocation} </li>
        <li> ${tutoringInfo.availableDaysAndTimes} </li>
        </ul>

      </ul>
    
    `;

    tutoring_info.style.display="block";
 
  }

  function displayEngineeringTutoringInfo(tutoringInfo) {
  tutoring_info.innerHTML = `
  <h1>${tutoringInfo.title} </h3>
    <br>
    <ul>
      <li> <h2> ${tutoringInfo.courseName} </h2> </li>
      <ul>
        <li> ${tutoringInfo.teacherName} </li>
        <li> ${tutoringInfo.roomLocation} </li>
        <li> ${tutoringInfo.availableDaysAndTimes} </li>
        </ul>

      </ul>
    
    `;

    tutoring_info.style.display="block";
 
  }

  function displayArtsTutoringInfo(tutoringInfo) {
  tutoring_info.innerHTML = `
  <h1>${tutoringInfo.title} </h3>
    <br>
    <ul>
      <li> <h2> ${tutoringInfo.courseName} </h2> </li>
      <ul>
        <li> ${tutoringInfo.teacherName} </li>
        <li> ${tutoringInfo.roomLocation} </li>
        <li> ${tutoringInfo.availableDaysAndTimes} </li>
        </ul>

      </ul>
    
    `;

    tutoring_info.style.display="block";
 
  }

  function displayMathmaticsTutoringInfo(tutoringInfo) {
  tutoring_info.innerHTML = `
  <h1>${tutoringInfo.title} </h3>
    <br>
    <ul>
      <li> <h2> ${tutoringInfo.courseName} </h2> </li>
      <ul>
        <li> ${tutoringInfo.teacherName} </li>
        <li> ${tutoringInfo.roomLocation} </li>
        <li> ${tutoringInfo.availableDaysAndTimes} </li>
        </ul>

      </ul>
    
    `;

    tutoring_info.style.display="block";
 
  }


  science_button.addEventListener("click", () => {
    displayScienceTutoringInfo(science_info);
  });
  technology_button.addEventListener("click", () => {
    displayTechnologyTutoringInfo(technology_info);
  });
  engineering_button.addEventListener("click", () => {
    displayEngineeringTutoringInfo(engineering_info);
  });
  arts_button.addEventListener("click", () => {
    displayArtsTutoringInfo(arts_info);
  });
  mathmatics_button.addEventListener("click", () => {
    displayMathmaticsTutoringInfo(mathmatics_info);
  });

</script>
{% endblock %}
